<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>

  <center><h2>Show Contacts</h2></center><br>
     <!-- Search container -->
    <div class="search-container">
      <input onkeyup = "search()" id="search_input" type="text" placeholder="Search...">
       
     <div class="search-bar">
      dgdsgs
    
      <h2>Search Bar</h2>
      
     
      </div>
    </div>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">second_name</th>
      <th scope="col">phone</th>
      <th scope="col">email</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>
    <tr th:each ="contact : ${contact}">
    <th scope="row" th:text="${'TEST2024'+contact.cId}"></th>
      <td>
      <img class="my-profile-picture" th:src="@{'/img/'+${contact.imageUrl}}"/>
                            <span th:text="${' '+contact.name}"></span>
                            
                            </td>
      <td th:text="${contact.secondName}"></td>
      <td th:text="${contact.phone}"></td>
       <td>
                            <a th:href="@{'/user/'+${contact.cId}+'/contact'}">
                                <span th:text="${contact.email}"></span>
                            </a>

                        </td>
      
      <td>
     <!--<a th:href="@{'/user/update/'+${contact.cId}}" class="btn btn-success btn-sm">update</a>  -->
       <form th:action="@{'/user/update/'+${contact.cId}}" method="post" >
                                <button type="submit" class="btn btn-primary btn-sm">Update</button>
                            </form>
     <a th:onclick="|deleteContact(${contact.cId})|"class="btn btn-danger btn-sm mt-2">Delete</a></td>
    
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item ">
      <a th:if="${currentpage !=0}" class="page-link" href="#" th:href="@{'/user/show-contacts/' + ${currentpage-1}}"tabindex="-1">Previous</a>
    </li>
   <li th:classappend="${currentpage == i-1 ? 'active' : ''}" th:each="i : ${#numbers.sequence(1, totalpage)}" class="page-item">
    <a th:href="@{'/user/show-contacts/' + ${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a>
</li>

  
    <li class="page-item">
      <a th:if="${currentpage +1!=totalpage}"class="page-link" th:href="@{'/user/show-contacts/' + ${currentpage+1}}" href="#">Next</a>
    </li>
  </ul>
</nav>
</section>
</body>
</html> 