<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<section>
   <div class="container">
       <div class="card">
           <div class="card-body">
               <div class="container text-center">
                   <img src="" style="height: 200px;width: 200px;"
                        class="my-profile-picture"
                        th:src="@{/img/phone.jpg}"
                        alt="smart_contact_manager.png"
                   >
               </div>
               <h1 class="text-center mt-3 text-secondary fst-italic">
                   Start adding your contact on cloud....
               </h1>
               <h4 class="text-center mt-3 text-secondary fst-italic">In today's digital era, managing and storing contact information efficiently is crucial. Leveraging cloud services can provide a scalable and reliable solution.</h4>
               <a th:href="@{/user/add-contact}" class="btn btn-primary mt-4 text-uppercase d-grid">Add new Contact</a>
           </div>
      <div class="container" style="max-width: 400px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
    <h1 style="text-align: center; margin-bottom: 20px;">plan upgrade</h1>
    <input type="text" id="inputField" style="padding: 10px; width: 100%; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px;" placeholder="Enter amount ..">
    <button onclick="paymentstart()" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s;">pay</button>
  </div>
    <script>
        $(document).ready(()=>{
            $(".item").removeClass("active");
            $("#home-link").addClass("active");
        })
    </script>
</section>
</body>
</html>